body {
  background-color: #ffffff;
  font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
  /* font-weight: 400; */
  padding: 0;
  margin: 0;
 }
 
 * {
  box-sizing: border-box;
}
.header {
  position: fixed;
  background-color: transparent;
  height: 30px;
  width: 100%;
  border: none;
  z-index: 100;
  transition: background-color 0.1s ease 0s;
}
/* Ändrar nav bg färg med scroll */
.header.solid {
  background-color: #ffffff;
  transition: background-color 0.1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar-nav{
  display: inline-block;
}
nav ul {
  float: right;
  width: 50%;
}
nav ul li {
  display: inline-block;
}
nav ul li:not(:first-child) {
  margin-left: 15px;
}
/* navigation text innan scroll */
nav ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
/* Ändrar textfärg med scroll nav */
nav ul li a.color {
  display: inline-block;
  outline: none;
  color:#000;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #ffffff;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: black;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  /* Hamburger meny */
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  /* Hamburger meny nav */
  .nav-open i {
    position: top;
    display: block;
    width: 20px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: black;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

.mainheader{
  text-align: center;
}
.Stegrubrik {
  text-align: center;
}

/* boxar för steg ikoner */

* {
  box-sizing: border-box;
}
.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.text-container {   
  padding: 20px;
  width: 100%;
	height: 100%;
	margin: 0 auto;
  position: relative;
  float: left;
  border: 1px solid red;

}
.text-container p {
  overflow-wrap: break-word;
}

/* Loginform */

#formContent {

  display: flex; /*Gömmer */
  margin: 0 auto;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;


  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  margin: 0 auto;
  padding: 0px;
  max-width: 340px;
  border: 1px solid red;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
} 

* {
  box-sizing: border-box;
}


/* END */

/* Registrera  */


/* END*/
.partners {
  text-align: center;
}


.wrapper > div {
  background-color: #0f60d9;
  border: 1px solid black;
  padding: 1em;
  color: #ffff;
}
/* Mobile display */
.wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "one one one one"
  "two two two two"
  "three three three three"
  "four four four four"
  "five five five five"
  "six six six six"
  "seven seven seven seven"
  "eight eight eight eight"
  "nine nine nine nine"
  "ten ten ten ten"
  "eleven eleven eleven eleven"
}
/* Desktop display */
@media screen and (min-width: 480px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "one one one one"
    "two two two two"
    "three three four four"
    "five five six six"
    "seven seven eight eight"
    "nine nine nine nine"
    "ten ten ten ten"
    "eleven eleven eleven eleven"
  }
 }
.one {
  grid-area: one;
}
.two { 
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven{ 
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}

/* Partners */
.ten {
  grid-area: ten;
}
/* footer */
.eleven {
  grid-area: eleven;
}
